.btn {
  font-family:                          "MyriadPro-Regular";
  font-size:                            1.1em; //18px
  text-transform:                       uppercase;
  background-color:                     transparent;
  @include                              padding(7px 27px);
  border-radius:                        1px;
  &:hover,
  &:active,
  &:focus {
    transition:                           0.3s;
  }
}

.btn-outline {
  border:                               1px solid #1a237e;
  color:                                #060f40;
  margin-top:                           17px;
  &:hover,
  &:active,
  &:focus {
    transition:                           0.3s;
    background:                         #1a237e;
    color:                              $snow;
  }
}

.btn-white {
  border:                               1px solid $snow;
  color:                                $snow;
  width:                                190px;
  @extend                               %center;
  &:hover,
  &:active {
    transition:                           0.3s;
    background:                         $snow;
    color:                              $dark-asphalt;
  }
}

.btn-download {
  height:                               110px;
  background:                           transparent;
  border:                               none;
  color:                                $snow;
  @include                              padding(0px 35px);
  font-size:                            0.9em;
  font-style:                           italic;
}

@media (min-width: 320px) {
  .btn-download {
    margin: 0 auto;
    display: block;
  }
}
