.btn {
  font-family:                          "MyriadPro-Regular";
  font-size:                            1.1em; //18px
  text-transform:                       uppercase;
  background-color:                     transparent;
  @include                              padding(7px 27px);
  border-radius:                        1px;
}

.btn-outline {
  border:                               1px solid #1a237e;
  color:                                #060f40;
  margin-top:                           17px;
  &:hover,
  &:active,
  &:focus {
    background:                         #1a237e;
    color:                              $snow;
  }
}

.btn-white {
  border:                               1px solid $snow;
  color:                                $snow;
  width:                                190px;
  @extend                               %center;
  &:hover,
  &:active {
    background:                         $snow;
    color:                              $dark-asphalt;
  }
}
