#quote-carousel {
  // padding:                                0 10px 30px 10px;
  margin-top:                             25px;
  /* Control buttons  */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the color of the indicators */
}

#quote-carousel .carousel-control {
  // background:                             none;
  color:                                  white;
  // font-size:                              2.3em;
  // text-shadow:                            none;
  // opacity: 0;
  &:hover {
    color: white;
    background: none;
     text-shadow:                         none;
  }
}

#quote-carousel .carousel-indicators {
  right:                                  50%;
  top:                                    auto;
  margin-right:                           -19px;
}

#quote-carousel .carousel-indicators li {
  width:                                  45px;
  height:                                 45px;
  margin:                                 5px 4px 45px;
  cursor:                                 pointer;
  // border:                                 4px solid #CCC;
  border-radius:                          50%;
  // opacity:                                0.4;
  overflow:                               hidden;
  transition:                             all 0.4s;
  margin-bottom:                          45px;
}

#quote-carousel .carousel-indicators .active {
  // background:                             #333333;
  width:                                  70px;
  height:                                 70px;
  border-radius:                          50%;
  // border-color:                           #f33;
  opacity:                                1;
  overflow:                               hidden;
  margin-bottom:                          32px;
}

#quote-carousel .img-responsive {
  width:                                  100%;
  height:                                 100%;
}

#quote-carousel blockquote {
  border-left:                            none;
  margin:                                 0;
  font-size:                              1em;
}

#quote-carousel .carousel-control.right {
  left: auto;
}

#quote-carousel .carousel-control.left {
  right: auto;
  left: 29%;
}

#quote-carousel .carousel-control.left, #quote-carousel .carousel-control.right {
  top: 72%;
  background-image:none !important;
  filter:none !important;
  z-index: 999;
}

.icon-inverted-commas {
  margin: 40px auto 0px;
  display: block;
}

#quote-carousel .testimonial-content {
  font-family:                      "Britannic-Bold";
  text-align:                       center;
  color:                            $snow;
  margin:                           0 auto;
  width:                            80%
}

#quote-carousel .testimonial-author {
  text-transform:                   uppercase;
  font-family:                      "Roboto-Black";
}

#quote-carousel .testimonial-author-place {
  text-transform:                   uppercase;
  color:                            #979c9f;
  font-size:                        0.9em;
  font-family:                      "Roboto-Light";
}

#quote-carousel .carousel-inner .item,
#quote-carousel .carousel-inner .item img {
  // width: 2560px;
  // height: 1440px;
  // width: auto;
  // height: auto;
  width: 100%;
  height: auto;
}

@media (min-width: 320px) {
  #quote-carousel .carousel-inner {
    min-height:                             300px;
    margin-bottom:                          50px;
  }
  #quote-carousel .carousel-control {
    margin-top:                             30px;
  }
  #quote-carousel {
    margin-top: 0px;
  }
  .icon-inverted-commas {
    margin: 10px auto 0px;
  }
  #quote-carousel .testimonial-content {
    font-size: 0.8em;
  }
  #quote-carousel .carousel-indicators {
    left: 30%;
    width: 100%;
  }
  #quote-carousel .carousel-indicators {
    bottom:                                 -100px;
  }
  #quote-carousel .carousel-control.left {
    left: 5%;
  }
  #quote-carousel .carousel-control.right {
    right: 5%;
  }
}

@media (min-width: 480px) {
  #quote-carousel .carousel-inner {
    min-height:                             250px;
    margin-bottom:                          50px;
  }
  #quote-carousel .carousel-control {
    margin-top:                             75px;
  }
  .icon-inverted-commas {
    margin:                                 30px auto 20px;
  }
  #quote-carousel .testimonial-content {
    font-size:                              0.9em;
  }
}

@media (min-width: 660px) {
  #quote-carousel .testimonial-content {
    font-size:                              1em;
  }
}

@media (min-width: 768px) {
  #quote-carousel .carousel-control {
    margin-top:                             80px;
  }
  #quote-carousel .carousel-inner {
    min-height:                             275px;
  }
}

@media (min-width: 992px) {
  #quote-carousel .carousel-control {
    margin-top:                             30px;
  }
  #quote-carousel {
    margin-top: 25px;
  }
  .icon-inverted-commas {
    margin: 40px auto 0px;
  }
  #quote-carousel .testimonial-content {
    font-size: 1em;
  }
  #quote-carousel .carousel-indicators {
    left: 50%;
    width: 60%;
  }
  #quote-carousel .carousel-indicators {
    bottom:                                 -40px;
  }
  #quote-carousel .carousel-inner {
    min-height:                             300px;
  }
  #quote-carousel .carousel-control.left {
    left: 23%;
  }
  #quote-carousel .carousel-control.right {
    right: 23%;
  }
}

@media (min-width: 1200px) {
  #quote-carousel .carousel-control.left {
    left: 29%;
  }
  #quote-carousel .carousel-control.right {
    right: 29%;
  }
  .carousel-home {
    margin-bottom: 100px;
  }
}
