$silver:                        #efefed;
$lighter-gray:                  #e8e7e8;
$light-gray:                    #7e7e7e;
// 918f93
// a9acae
$gray:                          #7b7880;
$dark-gray:                     #413d4b;
$asphalt:                       #1c2230;
$dark-asphalt:                  #1f2533;
$snow:                          #f4f4f4;


$blue:                          #00b3e0;
