@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro/MYRIADPRO-REGULAR.OTF") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/Glyphicons/glyphicons-halflings-regular.eot');
    src: url('../fonts/Glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/Glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/Glyphicons/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
