.about-us-title {
  // font-family: "MyriadPro-Regular";
  font-size:                        20px; //22px
  color:                            #413d4b;
  letter-spacing:                   3px;
  margin-bottom:                    20px; //30px
}

.about-us-content {
  // font-family: "Roboto-Light";
  color:                            #7b7880;
}
