.title-header {
  font-family:                      "Lato-Italic";
  color:                            $snow;
  text-align:                       center;
}

.about-us-title {
  font-family:                      "MyriadPro-Regular";
  font-size:                        20px; //22px
  color:                            #413d4b;
  letter-spacing:                   3px;
  margin-bottom:                    20px; //30px
}

.about-us-content {
  font-family: "Roboto-Light";
  color:                            #7b7880;
}

.title-band {
  @extend                           %absolute-center;
  bottom:                           45px;
}

.members-name {
  @extend                           .no-padding;
  list-style:                       none;
  display:                          inline-block;
  position:                         absolute;
  height:                           auto;
  z-index:                          20;
  .member-item {
    display:                        inline-block;
    font-family:                    "MyriadPro-Regular";
    width:                          22%;
    margin:                         1% 1%;
    text-align:                     center;
    border:                         1px solid #1c2230;
    -webkit-box-shadow:             0 0 1px 0 #000;
    box-shadow:                     0 0 1px 0 #000;
    font-size:                      22px;
    @include                        padding(14px);
    a {
      color: #1c2230;
    }
    &:hover,
    &:hover a {
      background:                   #1c2230;
      color:                        $snow;
      cursor:                       pointer;
    }
    // & a {
    //   width: 100%;
    // }
  }
}

.header-tour {
  color:                            $snow;
  text-align:                       center;
  margin-top:                       65px;
  z-index:                          20;
}

.data-tour {
  color:                            $dark-asphalt;
  h4,
  h1,
  h3 {
    @extend                         .no-margin;
  }
}

.local-tour {
  p:first-child {
    font-family:                    "Roboto-Black";
    color:                          $snow;
  }
  p:last-child {
    font-family:                    "Roboto-Light";
    color:                          #979c9f;
    font-size:                      0.9em;
  }
}

.title-pb {
  position:                         absolute;
  z-index:                          20;
  left:                             20%;
  font-size:                        7.8vw;
  color:                            $snow;
  font-family:                      "Roboto-Thin";
  letter-spacing:                   10px;
}

@media (min-width: 320px) {
  .title-header {
    font-size:                      8.9vw;
    margin-top:                     67%;
  }
  .title-pb {
    top: 44.5%
  }
  .members-name {
    width:                          95%;
    .member-item {
      font-size:                    14px;
      @include                      padding(0px);
    }
  }
  .data-tour {
    h4 {
      font-size:                      5vw;
    }
    h1 {
      font-size:                      5em;
    }
    h3 {
      font-size:                      5.3vw;
    }
  }
}

@media (min-width: 480px) {
  .title-header {
    margin-top:                     44%;
  }
  .title-pb {
    left:                           11%;
  }
}

@media (min-width: 660px) {
  .title-pb {
    left:                           14%;
  }
}

@media (min-width: 886px) {
  .title-header {
    font-size:                        8.3vw;
    margin-top:                       25%;
  }
  .data-tour {
    h4 {
      font-size:                      2vw;
    }
    h1 {
      font-size:                      7em;
    }
    h3 {
      font-size:                      2.3vw;
    }
  }
}

@media (min-width: 992px) {
  .title-header {
    font-size:                        8.6vw;
  }
  .title-header {
    margin-top:                     25%;
  }
  .title-pb {
    top:                            20%;
    left:                           18%;
  }
  .members-name {
    width:                          100%;
    .member-item {
      font-size:                    22px;
      @include                      padding(14px);
    }
  }
  .data-tour {
    h4 {
      font-size:                      2vw;
    }
    h1 {
      font-size:                      7em;
    }
    h3 {
      font-size:                      2.3vw;
    }
  }
}

@media (min-width: 1200px) {
  .title-header {
    font-size:                        8.9vw;
    margin-top:                       25%;
  }
}
