.container-fluid {
  padding:                    0px;
}

.no-padding {
  @include                    padding(0px);
}

.row-fix {
  margin: 0px;
}

.no-margin {
  margin: 0px;
}

.margin-t60 {
  margin-top: 60px;
}

.margin-t80 {
  margin-top: 80px;
}

.margin-b30 {
  margin-bottom: 30px;
}

.margin-b60 {
  margin-bottom: 60px;
}

.image-home {
  width:                      100%;
  min-height:                 auto;
  position:                   relative;
}

.tour {
  width: 100%;
  height: 662px;
}

.partner-testimonial {
  background-image:url("../img/img-depoiment.png");
  width: 100%;
  height: 431px;
  position: relative;
}

.image-tour {
  @extend .image-home;
  position: absolute;
  z-index: 0;
}

.row-gray {
  background-color: #f1eeef;
}

// .col-phone {
//   width: 29%;
//   padding-right: 0px;
// }

.video {
  position: relative;
  z-index: 0;
}

.play {
  position: absolute;
  z-index: 20;
}

.social {
  text-align: center;
  height: 160px;
  background: $silver;
  position: relative;
  .social-line {
    @extend %absolute-center;
    display: inline-block;
    list-style: none;
    .social-item {
      display: inline-block;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      border: 2px solid black;
      // &:hover:first-child {
      //   background-color: #3b5998;
      //   fill: #FFF;
      // }
      // &:hover:nth-child(2) {
      //   background-color: #c536a4;
      //   fill: #FFF;
      // }
      // &:hover:last-child {
      //   background-color: #e62117;
      //   fill: #FFF;
      // }
      & .social-img {
        width: 15px;
      }
      &:first-child .social-img {
        margin-top: 16%;
      }
      &:nth-child(2) .social-img,
      &:last-child .social-img {
        margin-top: 23%;
      }
    }
  }
  .h-rule {
    width: 50px;
    border-top: 2px solid $gray;
    @extend %absolute-center;
    margin-bottom: 0px;
  }
}

.item-tour {
  text-align: center;
  .data-tour {
    background: $snow;
  }
  .local-tour {
    border: 1px solid #979c9f;
  }
}

.testimonial-box {
  padding-top: 100px;
}

@media (min-width: 320px) {
  .margin-t60-15 {
    margin-top: 15px;
  }
  .margin-t80-30 {
    margin-top: 30px;
  }
  .margin-b30-10 {
    margin-bottom: 10px;
  }
  .home {
    background-image:url("../img/header-img660.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 560px;
  }
  .tour {
    background-image:               url("../img/img-tour660.png");
    background-repeat:              no-repeat;
  }
  .partner {
    height:                         660px;
  }
  .play {
    top:                            13%;
    left:                           42%;
    width:                          64px;
  }
  .header-tour {
    margin-top:                     30px;
  }
  .col-tour {
    padding:                        7px;
  }
  .about-us {
    @include                        padding(20px);
  }
  .item-tour {
    height:                         219px;
    .data-tour {
      height:                       150px;
      @include                      padding(15px 0px);
    }
    .local-tour {
      height:                       79px;
      @include                      padding(14px 0px);
    }
  }
  .img-band {
    width:                          100%;
    height:                         110px;
  }
}

@media (min-width: 480px) {
  .margin-t80-30 {
    margin-top:                     22px;
  }
  .play {
    top:                            24%;
    left:                           44%;
  }
  .col-tour {
    padding:                        12px;
  }
  .item-tour {
    .data-tour {
      height:                       160px;
    }
  }
  .partner {
    height:                         960px;
  }
  .img-band {
    width:                          100%;
    height:                         160px;
  }
}

@media (min-width: 660px) {
  .margin-t80-30 {
    margin-top:                     8px;
  }
  .col-tour {
    @include                        padding(4px 4px 30px);
  }
  .home {
    background-image:               url("../img/header-img992.png");
    background-repeat:              no-repeat;
    background-position:            center;
    width:                          100%;
    height:                         670px;
  }
  .tour {
    background-image:               url("../img/img-tour992.png");
  }
  .play {
    top:                            29%;
    left:                           45%;
  }
  .item-tour {
    .data-tour {
      height:                       170px;
    }
  }
  .partner {
    height:                         1320px;
  }
  .img-band {
    width:                          100%;
    height:                         220px;
  }
}

@media (min-width: 768px) {
  .play {
    top:                            33%;
    left:                           47%;
  }
  .item-tour {
    .data-tour {
      @include                      padding(5px 0px);
    }
  }
  .partner {
    height:                         680px;
  }
  .img-band {
    width:                          100%;
    height:                         170px;
  }
}

@media (min-width: 886px) {
  .item-tour {
    .data-tour {
      @include padding(10px 0px);
    }
  }
}

@media (min-width: 992px) {
  .home {
    background-image:url("../img/header-img1.png");
    width: 100%;
    height: 662px;
  }
  .margin-t60-15 {
    margin-top: 60px;
  }
  .margin-t80-30 {
    margin-top: 80px;
  }
  .margin-b30-10 {
    margin-bottom: 30px;
  }
  .tour {
    background-image:url("../img/img-tour.png");
  }
  .play {
    top: 35%;
    left: 44%;
    width: 130px;
  }
  .header-tour {
    margin-top: 65px;
  }
  .col-tour {
    padding: 0px 15px;
  }
  .item-tour {
    height: 308px;
    .data-tour {
      height: 229px;
      @include padding(30px 0px);
    }
    .local-tour {
      height: 79px;
      @include padding(14px 0px);
    }
  }
  .partner {
    height:                         220px;
  }
  .img-band {
    width:                          100%;
    height:                         110px;
  }
}

@media (min-width: 1200px) {
  .home {
    background-image:url("../img/header-img.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 662px;
  }
  .play {
    left: 46%;
  }
  .tour {
    background-image:url("../img/img-tour.png");
  }
  .about-us {
    @include padding(24px 200px 24px 70px);
  }
  .partner {
    height: 300px;
  }
  .img-band {
    width: 100%;
    height: 150px;
  }
}
