.header-box {
  // width:                            100%;
  // height:                           80px;
  .header {
    position:                         fixed;
    z-index:                          999;
    // text-align: right;
    right:                            50px;
    background-color:                 transparent;
    text-transform:                   uppercase;
    list-style:                       none;
    @extend                           %bold;
    li {
      @include                        padding(30px 11px);
      display:                        inline-block;
      .menu-item {
        color:                        white;
        &:hover,
        &:active,
        &.active {
          color:                      $blue;
          text-decoration:            none;
        }
      }
    }
    .glyphicon {
      color:                          white;
      font-size:                      1.5em;
      margin-left:                    30px;
    }
  }
  // &.scrolling {
  //   background: linear-gradient(to bottom, #020202 100%, #FFFFFF 0%);
  //   opacity: 0.8;
  // }
}



@media (min-width: 320px) {
  .menu-responsive {
    display: block;
    .dropdown-menu {
      background:                   #FFF;
      opacity:                      0.7;
      .menu-item {
        color:                        black;
        &:hover,
        &:active,
        &.active {
          color:                      $blue;
          text-decoration:            none;
        }
      }
    }
    li {
      @include                      padding(5px);
    }
  }
  .menu-bar {
    display: none;
  }
}

@media (min-width: 660px) {

}

@media (min-width: 992px) {
  .menu-responsive {
    display:                        none;
  }
  .menu-bar {
    display:                        block;
  }
}

@media (min-width: 1200px) {

}
