*,
*:before,
*:after {
  box-sizing:                         inherit;
}

html {
  box-sizing:                         border-box;
}

body,
html {
  height:                             100%;
}

body {
  width: 100%;
  -ms-overflow-x:                     hidden;
  overflow-x:                         hidden;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration:                  none;
}

#tour,
#home,
#our-music,
#partner,
#partner-testimonial {
  position: relative;
}
