%bold {
  font-weight:                      bold;
}

%center {
  margin: 0 auto;
  display: block;
}

%absolute-center {
  position:                         absolute;
  left:                             0;
  bottom:                           0;
  right:                            0;
}

%absolute-center-top {
  position:                         absolute;
  left:                             0;
  top:                              0;
  right:                            0;
}
