/*$lighter-gray:                  #e8e7e8;
$light-gray:                    #7e7e7e;
$background-gray:               #f1eeef;
// 918f93
// a9acae 858289
$gray:                          #7b7880;
$dark-gray:                     #413d4b;
$asphalt:                       #1c2230;
$dark-asphalt:                  #1f2533;


$blue:                          #00b3e0;
$dark-blue: #1a237e;
*/

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro/MYRIADPRO-REGULAR.OTF") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

body,
html {
  height:                          100%;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration:                 none;
}

.image-home {
  width: 100%;
  height: auto;
  // background:url("../assets/img/header-img.png") repeat-x top center;
}

.header {
  position:                         fixed;
  text-transform:                   uppercase;
  list-style:                       none;
  right:                            67px;
  font-weight:                      bold;
  z-index: 999;
}

li {
  padding:                          30px 11px;
  display:                          inline-block;
}

.menu-item {
  color:                            white;
}

.menu-item:hover {
  color:                            #00b3e0;
}

.about-us {
  padding: 70px 140px;
  /*background-color: #f1eeef;*/
  /*background: linear-gradient(45deg, #FFF 1%, #f1eeef 150%);*/
}

.about-us-title {
  font-family: "MyriadPro-Regular";
  font-size: 22px;
  color: #413d4b;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.about-us-content {
  font-family: "Roboto-Light";
  color: #7b7880;
}

.btn {
  text-transform: uppercase;
  padding: 7px 27px;
  border-radius: 1px;
}

.btn-outline {
  font-family: "MyriadPro-Regular";
  font-size: 18px;
  background-color: white;
  border: 1px solid #1a237e;
  color: #060f40;
  margin-top: 17px;
}
